@import "../CSS/fonts.css";
@import "../CSS/layout/layout/header.css";
@import "../CSS/layout/layout/logo.css";
@import "../CSS/layout/layout/contacts.css";
@import "../CSS/layout/layout/breadcrumbs.css";
@import "../CSS/layout/layout/tarifs.css";
@import "../CSS/layout/layout/aside.css";
@import "../CSS/layout/layout/footer.css";
@import "../CSS/layout/layout/about.css";
@import "../CSS/layout/layout/droppdown.css";
@import "../CSS/layout/layout/intro.css";
@import "../CSS/layout/layout/feeds.css";
@import "../CSS/layout/layout/form.css";

html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    background-color: #ffffff;
    line-height: 1.42;
}
.wrapper {
    position: relative;
    min-height: 100%;
    min-width: 1100px;
    overflow: hidden;
}
.container {
    width: 1060px;
    margin: 0 auto;
    padding: 0;
}
.main {
    width: 880px;
    float: left;
    margin: 0;

}
.main_tarifs {
    margin-top: 42px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
.main__title {
    color: #221f1f;
    font-family: "GothamProBold";
    margin: 0;
    font-size: 49px;
    margin-bottom: 30px;
    margin-top: 8px;
}
.clearfix:before,
.clearfix:after {
content: "";
display: table;
}
.clearfix:after {
clear: both;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style-type: none;
}
p {
    margin: 0;
}