.aside-menu {
    vertical-align: top;
    margin-top: 45px;
}
.aside__title {
    display: inline-block;
    color: #ec1e79;
    padding-left: 14px;
    max-width: 100px;
    overflow: hidden;
}
.aside__icon {
    display: inline-block;
    width: 21px;
    height: 19px;
    background: url("./img/icons/sidebar.png") no-repeat center;
}
.aside__icon_main {
    background-position: -117px -15px;
}
.aside__icon_tarifs {
    background-position: -211px -15px;
}
.aside__icon_feed {
    background-position: -15px -15px;
}
.aside__image {
    max-width: 100%;
    max-height: 100%;
}
.aside__link {
    text-decoration: none;
}
.aside__item {
    margin-bottom: 24px;
    height: 25px;
    box-sizing: border-box;
}
.aside {
    width: 180px;
    float: left;
    font-family: "GothamProBold";
    font-size: 12px;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.aside__link:hover .aside__title {
    color: #221f1f;
}
.aside__link:hover .aside__icon_main {
    background-position: -164px -15px;
}
.aside__link:hover .aside__icon_tarifs {
    background-position: -260px -15px;
}
.aside__link:hover .aside__icon_feed {
    background-position: -66px -15px;
}
    
.aside__link_active .aside__title {
    color: #221f1f;  
}
.aside__link_active .aside__icon_tarifs{
    background-position: -260px -15px;
}
.aside__link_active .aside__icon_main {
    background-position: -164px -15px;
    
}
.aside__link_active .aside__icon_feed {
    background-position: -66px -15px;
    
}