.droppdown {
    width: 163px;
    height: 70px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    position: absolute;
    z-index: 10;
    right: 0;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);
    text-align: left;
    padding: 15px 0 0 10px;
    opacity: 0;
    transition: opacity .4s;
}
    
.droppdown__triangle {
    background: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 3px;
    top: -9px;
    transform: rotate(45deg);
    z-index: 5;
    border-radius: 4px;
    box-shadow: -11px -11px 10px 0px rgba(23, 59, 117, 0.55);
    }
.droppdown__days {
    font-family: "GothamProBold";
    color: #ec1e79;
    font-size: 14px;
    margin-top: 16px;
}
.droppdown__break {
    font-family: "GothamProLight";
    color: #000;
    font-size: 14px;
}
      