.intro {
    background-image: url("/img/bg/intro.png");
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.greeting {
    width: 186px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.greeting__logo {
    display: block;
    width: 160px;
    height: 120px;
    margin: 30px auto;
    /* margin-bottom: 30px; */
    /* margin-left: 18px; */
}
.greeting__button {
    width: 180px;
    font-size: 12px;
    font-family: "GothamProBold";
    color: #ec1e79;
    text-transform: uppercase;
    border: 3px solid #ec1e79;
    display: block;
    text-align: center;
    padding: 12px 0;
    text-decoration: none;
    transition: all .6s;
}
.greeting__button:hover {
    background: #ec1e79;
    color: #fff;
}
